.accordian {
  width: 150px;
  border: 1px solid black;
}

.accordian-head {
  width: 100%;
  justify-content: space-between;
  border: 1px solid red;
  display: flex;
}

.accordian-body {
  display: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.active {
  display: block;
}
